<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "motionApp"
        version     = "1.0.0" >

    <name>Motion</name>
    <description>Motion application</description>
    <author email="moniaa_s@op.pl">
		Monika Stach
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="org.apache.cordova.device-motion" version="0.2.10" />
	

</widget>
